<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>댓글 쓰기</title>
    <style>
        .mb-3 {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
    <a href="/board">홈으로</a>
    <h1>댓글 쓰기</h1>
    <form th:action="@{/comment/create_comment/{id}(id=${article.id})}" method="post">
        <div class="mb-3">
            <label>
                댓글: <input type="text" name="comment" value="">
            </label>
        </div>
        <div class="mb-3">
            <label>
                비밀번호: <input type="text" name="password" value="비밀번호를 입력하세요">
            </label>
        </div>
        <div class="mb-3">
            <input type="submit">
        </div>
    </form>
</body>
</html>