<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>게시글 쓰기</title>
    <style>
        .mb-3 {
            margin-bottom: 1rem;
        }
        .content{
            padding : 30px;
        }
    </style>
</head>
<body>
    <h1>Create Student</h1>
    <form action="/board/create_article" method="post">
        <div class="mb-3">
            <label>
                제목: <input type="text" name="title" value="제목을 입력하세요">
            </label>
        </div>
        <div class="mb-3">
            <label>
                내용: <input type="text" name="content" value="내용을 입력하세요" class="content">
            </label>
        </div>
        <div class="mb-3">
            <label>
                비밀번호: <input type="text" name="password" value="비밀번호를 입력하세요">
            </label>
        </div>
        <div class="mb-3">
            <label>
                게시판:
                <select name="boardId">
                    <option
                            th:each="board: ${boards}"
                            th:value="${board.id}"
                            th:selected="${board == board.id}"
                    >
                        [[${board.boardName}]]
                    </option>
                </select>
            </label>
        </div>
        <div class="mb-3">
            <input type="submit">
        </div>
    </form>
    <a href="/board">Back</a>
</body>
</html>