<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>read</title>
</head>
<body>
    <a href="/board">홈으로</a>
    <p>제목: [[${article.title}]]</p>
    <p>내용: [[${article.content}]]</p>
    <a th:href="@{/board/article/{id}/update_view(id=${article.id})}">게시글수정</a>
    <form th:action="@{/board/article/{id}/delete_article/{prePassword}
                (id=${article.id},prePassword=${article.password})}" method="post">
        <input type="text" name="password" value="비밀번호">
        <input type="submit" value="게시글삭제">
    </form>
<p>댓글보기:</p>
<div th:if="${comments.isEmpty()}">
    <p>
        아무런 댓글이 없습니다.
    </p>
</div>
<div th:unless="${comments.isEmpty()}" th:each="comment: ${comments}">
    <p>
        [[${comment.id}]]: [[${comment.comment}]]
        <a th:href="@{/comment/update_view/{id}/{articleId}
                (id=${comment.id},articleId=${article.id})}">댓글수정</a>
        <form th:action="@{/comment/delete/{id}/{articleId}/{prePassword}
                (id=${comment.id},articleId=${article.id},prePassword=${comment.password})}" method="post">
            <input type="text" name="password" value="비밀번호">
            <input type="submit" value="댓글삭제">
        </form>
    </p>
</div>
    <a th:href="@{/comment/create_view/{id}(id=${article.id})}">댓글쓰기</a>
</body>
</html>